extends base

block content 
    if errorMessage 
        span=errorMessage 
    form(method="POST", enctype="multipart/form-data") 
        label(for="video") Video File 
        input(type="file", accept="video/*", required, id="video", name="video")
        input(name="title", placeholder="제목", required, type="text", maxlength=30)
        input(name="description", placeholder="영상소개", required, type="text", maxlength=30)
        input(name="hashtags", placeholder="해쉬태그, 콤마로 구분하여 주세요", required, type="text")
        input(type="submit", value="Upload Video")